/* ====================================
    GRID LAYOUT
==================================== */

.container {
    height: 100vh; /* Sets up the sticky footer. */
    display: grid;
    grid-template-columns: 1fr; /* Sets up mobile 1 column layout. */
    grid-auto-rows: minmax(150px, auto); /* Gives you control over size of implicit row tracks. */
    grid-gap: 10px;
    grid-template-areas: 
        "header" 
        "nav" 
        "main"
        "aside"
        "footer";
}

header {
    /* grid-column-start: 1; Marks the grid line # on left edge of column. */
    /* grid-column-end: -1; -1 allows item to stretch to end of last column. */
    /* grid-column: 1 / -1; */
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    /* grid-row-start: 2;
    grid-row-end: 3; */
    /* grid-row: 2 / 3; Shorthand for above two lines. */
    grid-area: main;
}

aside {
    /* grid-row-start: 2;
    grid-row-end: -1; */
    /* grid-row: 2 / -1; Shorthand for above two lines. */
    grid-area: aside;
}

footer {
    /* grid-row-start: -3;
    grid-row-end: -1; */
    /* grid-row: -3 / -1; Shorthand for above two lines. */
    grid-area: footer;
}

@media (min-width: 768px) {
    
    .container {
        grid-template-columns: 1fr 2fr 1fr;

        /* Sets height of row tracks. */
        grid-template-rows: 100px minmax(150px, auto) 100px;
        /* Sets layout on large screens. */
        grid-template-areas: 
            "header header header"
            "nav main aside"
            "footer footer footer";
    }

}

@media (min-width: 992px) {

    .container {
        grid-template-areas: 
            "header header header"
            "nav main aside"
            "nav footer footer";
    }

}