/* ====================================
    GRID LAYOUT
==================================== */

.container {
    height: 100vh; /* Sets up the sticky footer. */
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100px minmax(200px, 1fr) 100px 100px;
    grid-gap: 10px;
}

header {
    grid-column-start: 1; /* Marks the grid line # on left edge of column. */
    grid-column-end: -1; /* -1 allows item to stretch to end of last column. */
}

main {
    grid-row-start: 2;
    grid-row-end: 3;
}

aside {
    grid-row-start: 2;
    grid-row-end: -1;
}

footer {
    grid-row-start: -3;
    grid-row-end: -1;
}
