/* ====================================
    GRID LAYOUT
==================================== */

.container {
    height: 100vh; /* Sets up the sticky footer. */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px minmax(200px, 1fr) 100px;
    grid-gap: 10px;
    grid-template-areas: 
        "header header header" 
        "nav main aside" 
        "nav footer footer";
}

header {
    /* grid-column-start: 1; Marks the grid line # on left edge of column. */
    /* grid-column-end: -1; -1 allows item to stretch to end of last column. */
    /* grid-column: 1 / -1; */
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    /* grid-row-start: 2;
    grid-row-end: 3; */
    /* grid-row: 2 / 3; Shorthand for above two lines. */
    grid-area: main;
}

aside {
    /* grid-row-start: 2;
    grid-row-end: -1; */
    /* grid-row: 2 / -1; Shorthand for above two lines. */
    grid-area: aside;
}

footer {
    /* grid-row-start: -3;
    grid-row-end: -1; */
    /* grid-row: -3 / -1; Shorthand for above two lines. */
    grid-area: footer;
}
